body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  max-width:880px;
  margin:0 auto;
}
img{
  height:16px;
  width:16px;
}
button{
  cursor:pointer;
  font-size:16px;
  background:white;
  border-radius:8px;
}
.plus{
  width:32px;
  height:32px;
  border-radius:32px;
  cursor:pointer;
  user-select:none;
}
button:focus{
  outline:0;
  background:#ccf;
}
.wave{
  background:#ddf;
  padding:10px;
  border-radius:5px;
  border:3px solid #333;
  margin-bottom:10px;
}
input{
  width:40px;
}
.export{
  width:100%
}
textarea{
  width:86%;
}
.right{
  display:inline-block;
  float:right;
}
.input-txt{
  width:100px;
}
.element{
  margin:10px 0px;
}